
page-home {
  .barra{
    background-color: #7B470A;
  }
  ion-navbar{
    background-color: #7B470A;
  }
  content{
    ion-item-divider{
      background-color: #A56C29;
    }
    background-color: #C58C4A;
  }



}

