<ion-header>
  <ion-navbar>
    <ion-title text-center>
      SALA
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-refresher (ionRefresh)="verificarIp($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pulse para actualizar"
      refreshingSpinner="bubbles"
      refreshingText="Actualizando">
    </ion-refresher-content>

  </ion-refresher>

    <ion-item-group>
      <div *ngFor="let luc of listPage">
        <ion-item-divider color="light">{{luc.descp | uppercase}}</ion-item-divider>
        <ion-item *ngFor="let itemluces of luc.idLuces">
          <ion-icon  name="ios-bulb-outline" item-start></ion-icon>
          <ion-label>{{itemluces.title}}</ion-label>
          <ion-toggle [disabled]="itemluces.disp" [checked]="itemluces.estado"></ion-toggle>
        </ion-item>
      </div>
    </ion-item-group>

</ion-content>
