<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>
      Control de Luces
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-refresher (ionRefresh)="verificarIp($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pulse para actualizar"
      refreshingSpinner="bubbles"
      refreshingText="Actualizando">
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab *ngIf="video.estado" center bottom>
    <button ion-fab color="encendido"  (click)="prender(0)" ><ion-icon name="bulb"></ion-icon></button>
  </ion-fab>
  <ion-fab *ngIf="!video.estado" center bottom>
    <button ion-fab color="light"  (click)="prender(0)" ><ion-icon name="bulb"></ion-icon></button>
  </ion-fab>

   <div >
     <iframe *ngIf="video.estado" [src]='sanitizer.bypassSecurityTrustResourceUrl(video.src)' width="100%" height="500" frameborder="0"
             webkitallowfullscreen mozallowfullscreen allowfullscreen sandbox='allow-same-origin allow-top-navigation allow-forms allow-scripts'>
     </iframe>
   </div>


</ion-content>
