<!doctype html>
<html class="no-js" lang="" ng-app="indexPage">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="iedge">
        <title>Braininglabs</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body  data-spy="scroll" data-target="#menuprin">

    <div class="parallax-window text-center"  data-parallax="scroll"  data-image-src="img/fondo1.jpg">
        <div id="menuprin">
            <header>
                <ul class="nav" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="#Inicio">
                            <i aria-hidden="true" class="fa fa-circle-o"></i>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#Servicios">
                            <i aria-hidden="true" class="fa fa-circle-o"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#Precios"><i aria-hidden="true" class="fa fa-circle-o"></i></a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#Contactenos">
                            <i aria-hidden="true" class="fa fa-circle-o"></i>
                        </a>

                    </li>
                </ul>
            </header>

        </div>
        <div id="Inicio" ng-controller="index as ind" >
            <div class="container animated fadeInDown">
                <img  src="img/ESCUDO.gif">
                <h1 >{{ind.titulo}}</h1>
                <h2>{{ind.subtitulo}}</h2>
            </div>
            <a href="#Servicios">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>

        </div>
        <div id="Servicios" ng-controller="servicios as servictrl">
            <div class="container">
                <h1>SERVICIOS</h1>
                <hr>
                <div class="row contenido">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{servicio.id}}" ng-repeat="servicio in servictrl.list" class="{{servicio.clas}}" ></li>
                            </ol>
                            <div class="carousel-inner">
                                <div ng-repeat="servicio in servictrl.list" class="carousel-item {{servicio.clas}}">
                                    <img class="d-block w-100"  ng-src="{{servicio.src}}" alt="{{servicio.titulo}}" height="100%" width="100%">
                                    <div class="carousel-caption d-md-block">
                                        <h3>{{servicio.titulo}}</h3>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="row"><div class="col-6 cf"><button data-target="#carouselExampleIndicators"  data-slide-to="0" type="button" class="btn btn-secondary">{{servictrl.list[0].titulo}}</button></div>
                            <div class="col-6"><button type="button" data-target="#carouselExampleIndicators"  data-slide-to="1" class="btn btn-secondary">{{servictrl.list[1].titulo}}</button></div></div>
                        <div class="row"><div class="col-6 cf"><button data-target="#carouselExampleIndicators"  data-slide-to="2" type="button" class="btn btn-secondary">{{servictrl.list[2].titulo}}</button></div>
                            <div class="col-6"><button type="button" data-target="#carouselExampleIndicators"  data-slide-to="3" class="btn btn-secondary">{{servictrl.list[3].titulo}}</button></div></div>
                        <div class="row"><div class="col-6 cf"><button data-target="#carouselExampleIndicators"  data-slide-to="4" type="button" class="btn btn-secondary">{{servictrl.list[4].titulo}}</button></div>
                            <div class="col-6"><button data-target="#carouselExampleIndicators"  data-slide-to="5" type="button" class="btn btn-secondary">{{servictrl.list[5].titulo}}</button></div></div>
                        <div class="row"><div class="col-6 cf"><button data-target="#carouselExampleIndicators"  data-slide-to="6"  type="button" class="btn btn-secondary">{{servictrl.list[6].titulo}}</button></div>
                            <div class="col"><button data-target="#carouselExampleIndicators"  data-slide-to="7" type="button" class="btn btn-secondary">{{servictrl.list[7].titulo}}</button></div></div>
                    </div>
                </div>
                <a href="#Precios">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>

            </div></div>
        <div id="Precios" class="parallax-window" data-parallax="scroll" ng-controller="Precios as prec">
            <div class="container">
                <div class="titulo">
                    <h1>NUESTROS PRECIOS</h1><hr>
                </div>
                <div id="PreList" data-children=".precio" class="row" >
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3" ng-repeat="plan in prec.list1">
                        <button ng-mouseover="prec.mostrar(plan,true)" ng-mouseleave="prec.mostrar(plan,false)"  type="button" class="precio btn btn-secondary">{{plan.titulo}}</button>
                        <div id="desPre{{plan.id}}" class="collapse {{plan.cssShow}}" role="tabpanel">
                            <div class="modal-body">
                            <div class="row justify-content-center">
                                <i class="fa fa-usd fa-5x"></i>{{plan.precio}}
                            </div>
                            <hr>
                            <div class= row"contenido">
                                    <ul>
                                        <li ng-repeat="carac in plan.carac"><span>{{carac}}</span></li>
                                    </ul>

                            </div>

                            </div>
                        </div>
                    </div>
                </div>


                <a href="#Contactenos">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>

            </div>

        </div>
        <div id="Contactenos" class="parallax-window" data-parallax="scroll" ng-controller="Contacto as contc">
            <div class="container">
                <h1>Contacto</h1><hr>
                <div class="conSer">
                    <div class="row">
                        <div class="col">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d561.1132526127043!2d-78.48229785132746!3d-0.20611517500395965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a0c1e03a933%3A0x778a36fe53b4e483!2sAve+La+Coruna+%26+Valladolid%2C+Quito+170109!5e0!3m2!1ses!2sec!4v1504891038424" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nombre">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="exampleSelect1" placeholder="Asunto">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Por defecto"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary btSumbit">Enviar</button>
                            </form>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 info">
                                <div class="row" ng-repeat=" dato in contc.address[0].datos">
                                    <div class="col-12 col-sm-2 col-md-2 col-lg-2">
                                        <div class="icon">
                                            <i class="fa fa-{{dato.ico}}" aria-hidden="true"></i>
                                        </div>

                                    </div>
                                    <div class="col-12 col-sm-10 col-md-10 col-lg-10">
                                        <h3>{{dato.titulo}}</h3>
                                        {{dato.desp}}</div>
                                </div>
                        </div>
                    </div>
                    <div class="row justify-content-center redes">

                        <a ng-if="redSoc.disp" href="{{redSoc.link}}" ng-repeat="redSoc in contc.redes">
                            <div class="icon">
                                    <i class="fa fa-{{redSoc.ico}}" aria-hidden="true"></i>

                            </div>
                        </a>

                    </div>
                    <div class="row justify-content-center">
                        CopyRight@2017-Braininglabs
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="modal fade bd-example-modal-sm" id="PreciosModales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <i class="fa fa-usd fa-5x"></i>
                    </div>
                    <hr>
                    <div class="row contenido">

                    </div>
                </div>
            </div>
        </div>
    </div>






        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="js/vendor/tether.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/parallax.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
